!!!
%html
  %head
    %title= configatron.title
    %meta{ :name =>"description", :content=>"This is a pretty Sinatra+Bootstrap template" }
    %meta{ :name =>"author",      :content=>"Javier Juarez" }
    %link{ :href =>'/css/bootstrap.min.css',            :rel => 'stylesheet', :type => 'text/css' }
  %body
    %h1
      %a{ :href => '/'}= configatron.title
      = yield
      %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{configatron.author} &mdash;"
